providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/sagar/Documents/C++"
          source: "/Users/sagar/Documents/C++/.build-tools.cson"
          name: "Compile"
          command: "gcc-8 -std=c++17 -lstdc++ *.cpp -o compile-file"
          wd: "./"
          env: {}
          modifier:
            shell:
              command: "bash -c ./compile-file"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: true
          version: 2
        }
        {
          project: "/Users/sagar/Documents/C++"
          source: "/Users/sagar/Documents/C++/.build-tools.cson"
          name: "Initial Compile"
          command: "gcc-8 -std=c++17 -lstdc++ *.cpp -o compile-file"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output: {}
          version: 2
        }
      ]
  }
]
