providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/sagar/Documents/C++/Reversi/Reversi"
          source: "/Users/sagar/Documents/C++/Reversi/Reversi/.build-tools.cson"
          name: "Compile & Run"
          command: "gcc-8 -std=c++17 -lstdc++ *.cpp -o compile-file && ./compile-file"
          wd: "."
          env: {}
          modifier:
            save_all: {}
            shell:
              command: "bash -c"
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: true
          version: 2
        }
      ]
  }
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/sagar/Documents/C++/Reversi/Reversi"
          source: "/Users/sagar/Documents/C++/Reversi/Reversi/.build-tools.cson"
          name: "Initial Compile"
          command: "gcc-8 -std=c++17 -lstdc++ *.cpp -o compile-file"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
      ]
  }
]
